/*** Main Elements ***/
body {
    margin: 0;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background-color: limegreen;
    border-radius: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
button:hover {
    background-color: lightgreen;
    border: 1px solid dimgray;
}
input {
    border-radius: 5px;
    padding-left: 10px;
    border: 2px solid lightgreen;
    width: 200px;
    font-size: 1em;
}
input:hover {
    border: 2px solid limegreen;
}
.body-content {
    min-height: 300px;
    padding-left: 15px;
    padding-right: 15px;
}
.link {
    color: dodgerblue;
    cursor: pointer;
    font-size: .9em;
}

/*** Banner ***/
.banner-top {
    height: 50px;
    background-color: limegreen;
    text-align: center;
}
.banner-content {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    height: calc(100% - 10px);
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
}
.banner-image {
    height: 40px;
    vertical-align: middle;
}
.banner-text {
    vertical-align: middle;
}

/*** Main Menu ***/
.main-menu-container {
    position: absolute;
    top: 10px;
    left: 0;
    width: 0;
    opacity: 0;
    min-height: 95vh;
    overflow-x: hidden;
    overflow-y: auto;
    transition: ease .5s;
}
.main-menu-container.menu-open {
    width: 300px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 2px solid dimgray;
    border-right: 2px solid dimgray;
    border-bottom: 2px solid dimgray;
    opacity: 1;
    z-index: 3;
    transition: ease .5s;
}
.main-menu-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
    pointer-events: none;
    transition: ease .5s;
}
.main-menu-background.menu-open {
    background-color: black;
    opacity: .75;
    pointer-events: all;
    z-index: 2;
    transition: ease .5s;
}
.main-menu-button {
    position: absolute;
    top: 12.5px;
    left: 25px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.close-button-container {
    text-align: right;
}
.close-button-container svg {
    height: 15px;
    width: 15px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity ease .5s;
}
.menu-open .close-button-container svg {
    opacity: 1;
    transition: opacity ease .5s;
}
.main-menu-content {
    padding-left: 20px;
    padding-right: 10px;
}
.main-menu-content label {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.main-menu-content .content-title {
    padding: 5px 20px;
    margin-bottom: 5px;
    display: inline-block;
    border-radius: 10px;
    background-color: lightgreen;
}

.main-menu-content .chat-label {
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: whitesmoke;
    border: 1px solid gray;
    display: inline-block;
}
.main-menu-content .chat-label:hover {
    background-color: lightgreen;
    border: 1px solid limegreen;
}
.main-menu-content .chat-label.selected {
    background-color: lightblue;
}
.new-chat-div {
    text-align: right;
}
.new-chat-div button {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 25px;
    font-weight: bold;
    float: right;
}
/*** Welcome/Login ***/
#divLogin {
    text-align: center;
}

.welcome-logo-container {
    margin-top: 50px;
    text-align: left;
    display: inline-block;
    height: 96px;
}
.welcome-logo-container div {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: bold;
}
.login-box {
    margin-top: 40px;
    display: inline-block;
}
.login-box div {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
}
.login-box .button-caption {
    margin: 5px;
    font-size: .8em;
    color: dimgray;
}
.login-box button {
    font-weight: bold;
    width: 80px;
    height: 40px;
}
.login-box hr {
    width: 90%;
    height: 2px;
    background: gray;
    border: none;
    border-radius: 100%;
}
#divLoginForm {
    background-color: white;
    width: 300px;
}

#divLoginForm input {
    width: calc(100% - 15px);
}
.login-box hr {
    display: none;
}
#imgDeleteChat {
    cursor: pointer;
    height: 25px;
    width: 25px;
}

/*** Chat Area ***/
.chat-frame {
    margin-top: 10px;
}
#imgToggleUsers {
    position: absolute;
    top: 12.5px;
    right: 25px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    display: none;
}
.chat-messages {
    display: inline-block;
    border: 1px solid dimgray;
    border-radius: 5px;
    background-color: whitesmoke;
    height: 300px;
    overflow: auto;
    width: 100%;
}

.user-list-frame {
    display: inline-block;
    text-align: center;
    border: 1px solid dimgray;
    border-radius: 5px;
    background-color: whitesmoke;
    height: 300px;
    overflow: auto;
    width: 100%;
}
.user-list-frame hr {
    width: 90%;
    height: 2px;
    background: gray;
    border: none;
    border-radius: 100%;
}
.chat-frame table {
    width: 100%;
}
.chat-frame table tr td:last-child {
    width: 150px;
    text-align: center;
    padding-left: 10px;
}

.chat-frame textarea {
    width: 100%;
}
.chat-frame #imgUpload {
    width: 20px;
    cursor: pointer;
    vertical-align: middle;
}
.chat-frame #imgUpload:hover {
    background-color: #d6ffdc;
    border: 1px solid lightgray;
}
.chat-frame #buttonSend {
    padding: 10px 10px;
    margin-right: 15px;
    vertical-align: middle;
}

.chat-status {
    text-align: left;
    margin-left: 15px;
    font-size: .8em;
    height: 1.4em;
}

.chat-message-header {
    font-size: .8em;
    font-family: monospace;
    margin-bottom: 5px;
}

.received-chat {
    float: left;
    position: relative;
    clear: both;
    border-radius: 5px;
    background-color: lightskyblue;
    margin: 5px 10px;
    padding: 10px 20px 20px 20px;
}

.received-chat .arrow-left {
    border-right: 10px solid lightskyblue;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 0;
    left: 0;
    transform: translate(-10px, 5px);
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
}

.sent-chat {
    position: relative;
    float: right;
    clear: both;
    border-radius: 5px;
    background-color: lightgreen;
    margin: 5px 10px;
    padding: 10px 20px 20px 20px;
}

.sent-chat .arrow-right {
    border-left: 10px solid lightgreen;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    bottom: 0;
    transform: translate(0, -5px);
    display: inline-block;
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
}
.system-message {
    color: gray;
    margin: 5px;
    float: left;
    clear: both;
}
.user-list-content {
    transform: translateY(-25px);
    pointer-events: none;
}
#divUserList {
    font-size: .8em;
}

#divChatLink {
    text-align: left;
}
#divChatLink span {
    vertical-align: middle;
}
#inputChatLink {
    width: calc(100% - 350px);
    min-width: 200px;
    vertical-align: middle;
    font-size: .8em;
    color:gray;
    cursor: pointer;
}
#buttonCopyLink {
    padding: 5px 10px;
    vertical-align: middle;
}
/*** Dialog Box ***/
.dialog-frame {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid dimgray;
    border-radius: 10px;
    background-color: white;
    z-index: 4;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4)
}
.dialog-title-frame {
    height: 40px;
    background-color: lightgreen;
    border-bottom: 1px solid gray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.dialog-title-content {
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    pointer-events: none;
}
.dialog-content {
    padding: 10px;
}
.dialog-button-frame {
    text-align: right;
    padding: 10px;
}
.dialog-button-frame button {
    padding: 5px 10px;
    margin-left: 15px;
}

/*** Tooltip */
.tooltip-frame {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    border: 1px solid dimgray;
    background-color: lightgreen;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}
/***  Toggle Switch ***/
.switch-outer {
    height: 25px;
    width: 45px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.switch-outer[on="true"] {
    background-color: steelblue;
    transition: .5s;
}

.switch-outer[on="false"] {
    background-color: gray;
    transition: .5s;
}

.switch-inner {
    border-radius: 100%;
    background-color: white;
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.switch-outer[on="true"] .switch-inner {
    margin-left: 24%;
    transition: .5s;
}

.switch-outer[on="false"] .switch-inner {
    margin-left: -24%;
    transition: .5s;
}

/*** Edit Chat ***/
#divEditChatForm.dialog-frame {
    position: absolute;
    top: 25px;
    transform: translateX(-50%);
    min-width: 300px;
}
#divEditChatForm td:last-child {
    text-align: right;
}
#divEditChatForm table {
    width: 100%;
}
.spacer-row {
    height: 1em;
}
#divEditChatForm button {
    padding: 5px 10px;
}

#divEditChatForm input {
    width: calc(100% - 15px);
}

#divEditChatForm select {
    width: 100%
}

@media only screen and (max-width : 550px) {
    .login-box hr {
        display: inline-block;
    }
    .chat-frame table tr td:last-child {
        width: 40px;
        text-align: center;
    }
    #imgToggleUsers {
        display: unset;
    }
    .user-list-frame {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 0;
        width: 0;
        opacity: 0;
        border: none;
        transition: ease .5s;
    }
    .user-list-frame.menu-open {
        height: 80vh;
        width: 300px;
        border: 1px solid dimgray;
        opacity: 1;
        transition: ease .5s;
        z-index: 3;
    }
    .chat-messages {
        width: calc(100% + 50px);
    }
    .chat-frame #buttonSend {
        display: none;
    }
    #divChatLink span {
        display: none;
    }

    #buttonCopyLink {
        display: none;
    }
    #inputChatLink {
        width: calc(100% - 25px);
    }
}