/*** Main Elements ***/
body {
    margin: 0;
    padding-bottom: 20px;
}

button {
    background-color: limegreen;
    border-radius: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
button:hover {
    background-color: lightgreen;
    border: 1px solid black;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/*** Banner ***/
.banner-top {
    height: 50px;
    background-color: limegreen;
    text-align: center;
}
.banner-content {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    height: calc(100% - 10px);
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
}
.banner-image {
    height: 40px;
    vertical-align: middle;
}
.banner-text {
    vertical-align: middle;
}

/*** Main Menu ***/
.main-menu-container {
    position: absolute;
    top: 10px;
    left: 0;
    width: 0;
    min-height: 50vh;
    overflow: visible;
}
.main-menu {
    position: absolute;
    top: 12.5px;
    left: 25px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
#menuLine1 {
    transform: rotate(0deg);
}

#menuLine2 {
    opacity: 1;
}
#menuLine3 {
    transform: rotate(0deg);
}
#menuLine1.menu-open {
    transform: rotate(90deg);
}

#menuLine2.menu-open {
    opacity: 0;
}

#menuLine3.menu-open {
    transform: rotate(-90deg);
}

/*** Login ***/


/*** Chat Area ***/
.chat-frame {
    margin-top: 10px;
}

.chat-messages {
    display: inline-block;
    border: 1px solid dimgray;
    border-radius: 5px;
    background-color: whitesmoke;
    height: 300px;
    overflow: auto;
    width: 100%;
}

.user-list {
    display: inline-block;
    text-align: center;
    border: 1px solid dimgray;
    border-radius: 5px;
    background-color: whitesmoke;
    height: 300px;
    overflow: auto;
    width: 100%;
}

.chat-frame table {
    width: 100%;
}
.chat-frame table tr td:last-child {
    width: 150px;
    text-align: center;
    padding-left: 10px;
}

.chat-frame textarea {
    width: 100%;
}
.chat-frame #imgUpload {
    width: 20px;
    cursor: pointer;
}
.chat-frame button {
    padding: 5px 10px;
}

.chat-status {
    margin-left: 15px;
    font-size: .8em;
    height: 1.4em;
}

.chat-message-header {
    font-size: .8em;
    font-family: monospace;
    margin-bottom: 5px;
}

.received-chat {
    float: left;
    position: relative;
    clear: both;
    border-radius: 5px;
    background-color: lightskyblue;
    margin: 5px 10px;
    padding: 10px 20px 20px 20px;
}

.received-chat .arrow-left {
    border-right: 10px solid lightskyblue;
    top: 0;
    transform: translate(-10px, 5px);
    left: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.sent-chat {
    position: relative;
    float: right;
    clear: both;
    border-radius: 5px;
    background-color: lightgreen;
    margin: 5px 10px;
    padding: 10px 20px 20px 20px;
}

.sent-chat .arrow-right {
    border-left: 10px solid lightgreen;
    top: 0;
    transform: translate(0, 5px);
}


@media only screen and (max-device-width : 550px) {
    .body-content {
        padding-left: 5px;
        padding-right: 5px;
    }
    .chat-frame table tr td:last-child {
        width: 40px;
        text-align: center;
    }
    .user-list {
        display: none;
    }
    .chat-messages {
        width: calc(100% + 40px);
    }
    .chat-frame #buttonSend {
        display: none;
    }
}