@{

}
<div>

</div>
<div id="divChatFrame" hidden class="chat-frame" ondragover="Lettuce.Default.DragOverChat(event)" ondrop="Lettuce.Default.DropOnChat(event)">
    <table>
        <tr>
            <td>
                <div id="divMessages" class="chat-messages">

                </div>
            </td>
            <td>
                <img id="imgToggleUsers" src="~/images/icons8-User Groups Filled-100.png" onclick="Lettuce.Default.ToggleUsersMenu()" title="User List" />
                <div id="divUserListFrame" class="user-list-frame">
                    <div class="close-button-container">
                        <svg xmlns="http://www.w3.org/2000/svg" onclick="Lettuce.Default.ToggleUsersMenu()">
                            <line x1="0" y1="0" x2="15" y2="15" stroke="black" stroke-width="2" stroke-linecap="round"></line>
                            <line x1="0" y1="15" x2="15" y2="0" stroke="black" stroke-width="2" stroke-linecap="round"></line>
                        </svg>
                    </div>
                    <div class="user-list-content">
                        Connected Users
                        <hr />
                        <div id="divUserList" class="user-list">

                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="divStatus" class="chat-status"></div>
            </td>
        </tr>
        <tr>
            <td>
                <textarea id="textInput" placeholder="Type your message here." onkeydown='Lettuce.Default.InputKeyDown(event)'></textarea>
            </td>
            <td>
                <div>
                    <button id="buttonSend" onclick="Lettuce.Default.SubmitMessage(event)">Send</button>
                    <img id="imgUpload" src="~/images/icons8-Upload-80.png" onclick='document.getElementById("inputFileUpload").click()' title="Upload File" />
                    <input id="inputFileUpload" type="file" hidden multiple onchange='Lettuce.Default.TransferFile(this.files);' />
                </div>
            </td>
        </tr>
    </table>
</div>