<div class="banner-top">
    <div class="banner-content">
        <img class="banner-image" src="~/images/icons8-Lettuce-96.png" />
        <span class="banner-text">Chat</span>
    </div>
</div>

<svg class="main-menu-button" xmlns="http://www.w3.org/2000/svg" onclick="Lettuce.Default.ToggleMainMenu()">
    <line id="menuLine1" x1="5" y1="7" x2="20" y2="7" stroke="white" stroke-width="2" stroke-linecap="round"></line>
    <line id="menuLine2" x1="5" y1="13" x2="20" y2="13" stroke="white" stroke-width="2" stroke-linecap="round"></line>
    <line id="menuLine3" x1="5" y1="19" x2="20" y2="19" stroke="white" stroke-width="2" stroke-linecap="round"></line>
</svg>
<div id="divMainMenu" class="main-menu-container">
    <div class="close-button-container">
        <svg xmlns="http://www.w3.org/2000/svg" onclick="Lettuce.Default.ToggleMainMenu()">
            <line x1="0" y1="0" x2="15" y2="15" stroke="black" stroke-width="2" stroke-linecap="round"></line>
            <line x1="0" y1="15" x2="15" y2="0" stroke="black" stroke-width="2" stroke-linecap="round"></line>
        </svg>
    </div>
    <div class="main-menu-content">
        <div class="content-title">
            <label>Display Name</label>
        </div>
        <br />
        <input id="inputMyDisplayName" maxlength="20" onblur="Lettuce.Messages.UpdateDisplayName()" />
        <br />
        <span id="spanLogIn" class="link" onclick="Lettuce.Default.ShowLogin()">Log In</span>
        <span id="spanLogOut" class="link" onclick="Lettuce.Default.LogOut()" hidden>Log Out</span>
        <br />
        <br />
        <br />
        <div class="new-chat-div">
            <button onclick="Lettuce.Messages.NewChat()" title="New Chat">+</button>
        </div>
        <div class="content-title">
            <label>My Chats</label>
        </div>
        <div id="divMyChats">

        </div>
        <br />
        <br />
        <br />
        <div class="content-title">
            <label>Other Chats</label>
        </div>
        <div id="divOtherChats">

        </div>
        <br />

    </div>
</div>
<div id="divMainMenuBackground" class="main-menu-background"></div>
<div class="body-content">
    <div id="divLogin">
        <div class="welcome-logo-container">
            <div>
                <img src="~/images/icons8-Lettuce-96.png" />
            </div>
            <div>
                Lettuce
                <br />
                Chat
            </div>
        </div>
        <p>
            <em>Instant, persistent chat.</em>
        </p>
        <div class="login-box">
            <p>
                <strong>
                    Sign in as...
                </strong>
            </p>
            <div>
                <button onclick="Lettuce.Messages.GetGuestChat()">Guest</button>
                <p class="button-caption">
                    Create disposable chat rooms.
                </p>
            </div>
            <hr />
            <div>
                <button onclick="Lettuce.Default.ShowLogin()">Log In</button>
                <p class="button-caption">
                    Save chats permanently and access them anywhere.
                </p>
            </div>
        </div>
    </div>
    <div id="divChatFrame" hidden class="chat-frame" ondragover="Lettuce.Default.DragOverChat(event)" ondrop="Lettuce.Default.DropOnChat(event)">
        <table>
            <tr>
                <td colspan="2">
                    <div id="divChatLink">
                        <span>
                            Chat Link:
                        </span>
                        <input id="inputChatLink" readonly onclick="Lettuce.Default.CopyLink()" />
                        <button id="buttonCopyLink" onclick="Lettuce.Default.CopyLink()">Copy</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="divMessages" class="chat-messages" onscroll="Lettuce.Default.MessageScroll(event)">

                    </div>
                </td>
                <td>
                    <img id="imgToggleUsers" src="~/images/icons8-User Groups Filled-100.png" onclick="Lettuce.Default.ToggleUsersMenu()" title="User List" />
                    <div id="divUserListFrame" class="user-list-frame">
                        <div class="close-button-container">
                            <svg xmlns="http://www.w3.org/2000/svg" onclick="Lettuce.Default.ToggleUsersMenu()">
                                <line x1="0" y1="0" x2="15" y2="15" stroke="black" stroke-width="2" stroke-linecap="round"></line>
                                <line x1="0" y1="15" x2="15" y2="0" stroke="black" stroke-width="2" stroke-linecap="round"></line>
                            </svg>
                        </div>
                        <div class="user-list-content">
                            Connected Users
                            <hr />
                            <div id="divUserList">

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="divStatus" class="chat-status"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea id="textInput" placeholder="Type your message here." onkeydown='Lettuce.Default.InputKeyDown(event)'></textarea>
                </td>
                <td>
                    <div>
                        <button id="buttonSend" onclick="Lettuce.Default.SubmitMessage(event)">Send</button>
                        <img id="imgUpload" src="~/images/icons8-Upload-80.png" onclick='document.getElementById("inputFileUpload").click()' title="Upload File" />
                        <input id="inputFileUpload" type="file" hidden multiple onchange='Lettuce.Default.TransferFile(this.files);' />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="divLoginForm" class="dialog-frame hidden" hidden>
        <div class="dialog-title-frame">
            <div class="dialog-title-content">
                Log In or Sign Up
            </div>
        </div>
        <div class="dialog-content">
            <label>User Name:</label>
            <br />
            <input type="text" id="inputLoginUsername" onkeypress="Lettuce.Default.EvalLoginKey(event)" maxlength="20" />
            <div id="divLoginPassword" hidden>
                <label>Password:</label>
                <br />
                <input type="password" id="inputLoginPassword" onkeypress="Lettuce.Default.EvalLoginKey(event)" maxlength="30" />
            </div>
            <div id="divLoginConfirmPassword" hidden>
                <label>Confirm Password:</label>
                <br />
                <input type="password" id="inputLoginConfirmPassword" onkeypress="Lettuce.Default.EvalLoginKey(event)" maxlength="30" />
            </div>
        </div>
        <div class="dialog-button-frame">
            <button onclick="Lettuce.Default.LoginNext()">Next</button>
            <button onclick="Lettuce.Default.HideLogin()">Cancel</button>
        </div>
    </div>
    <div id="divEditChatForm" class="dialog-frame hidden" hidden>
        <div class="dialog-title-frame">
            <div class="dialog-title-content">
                Edit Chat
            </div>
        </div>
        <div class="dialog-content">
            <table>
                <tr>
                    <td>
                        Chat Name:
                    </td>
                    <td>
                        <input id="inputChatID" type="hidden" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="inputChatName" maxlength="25" />
                    </td>
                </tr>
                <tr class="spacer-row"></tr>
                <tr>
                    <td>
                        Member Only:
                    </td>
                    <td>
                        <div id="toggleMemberOnly" class="switch-outer" on="false" onclick="Lettuce.Default.ToggleMemberOnly()">
                            <div class="switch-inner"></div>
                        </div>
                    </td>
                </tr>
                <tr class="spacer-row"></tr>
                <tr>
                    <td>
                        Members:
                    </td>
                    <td>
                        <button id="buttonAddMember" onclick="Lettuce.Messages.AddMember()">Add</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="inputAddMember" maxlength="25" placeholder="Enter username (not display name)" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <select id="selectMembers" multiple size="4"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <button id="buttonRemoveMember" onclick="Lettuce.Default.RemoveMember()">Remove</button>
                    </td>
                </tr>
                <tr class="spacer-row"></tr>
                <tr>
                    <td>
                        Admins:
                    </td>
                    <td>
                        <button id="buttonAddAdmin" onclick="Lettuce.Messages.AddAdmin()">Add</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="inputAddAdmin" maxlength="20" placeholder="Enter username (not display name)" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <select id="selectAdmins" multiple size="4"></select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button id="buttonRemoveAdmin" onclick="Lettuce.Default.RemoveAdmin()">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img id="imgDeleteChat" src="~/images/icons8-Trash-80.png" onclick="Lettuce.Messages.DeleteChat()" title="Delete Chat" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="dialog-button-frame">
            <button onclick="Lettuce.Default.SaveChatEdit()">Save</button>
            <button onclick="document.getElementById('divEditChatForm').setAttribute('hidden', '')">Cancel</button>
        </div>
    </div>
    <hr style="margin-top: 20px" />
    <footer style="color: gray;">
        <p style="float:left">
            &copy; 2017 - Translucency
        </p>
        <p style="float:right">
            Icons by <a target="_blank" href="https://icons8.com">Icons8</a>
        </p>
    </footer>
</div>