@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lettuce Chat</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="banner-top">
        <div class="banner-content">
            <img class="banner-image" src="~/images/icons8-Lettuce-96.png" />
            <span class="banner-text">Chat</span>
        </div>
    </div>
    <svg class="main-menu" xmlns="http://www.w3.org/2000/svg" onclick="Lettuce.Default.ToggleMainMenu()">
        <line id="menuLine1" x1="5" x2="20" y1="7" y2="7" stroke="white" stroke-width="2" stroke-linecap="round"></line>
        <line id="menuLine2" x1="5" x2="20" y1="13" y2="13" stroke="white" stroke-width="2" stroke-linecap="round"></line>
        <line id="menuLine3" x1="5" x2="20" y1="19" y2="19" stroke="white" stroke-width="2" stroke-linecap="round"></line>
    </svg>
    <div id="divMainMenu" class="main-menu-container">
        <div class="main-menu-content">

        </div>
    </div>
    
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="float:left">
                &copy; 2017 - Translucency
            </p>
            <p style="float:right">
                Icons by <a target="_blank" href="https://icons8.com">Icons8</a>
            </p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/scripts/main.js" asp-append-version="true"></script>
        <script src="~/scripts/socket_handler.js"></script>
        <script src="~/scripts/default.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/scripts/main.js" asp-append-version="true"></script>
        <script src="~/scripts/socket_handler.js"></script>
        <script src="~/scripts/default.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
